<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <!-- create sections for reminders, to do checklists and sticky notes -->
        <header></header>
        <div id = "userInp">
            <form action="/add-task" method = "POST">
                <div id = "descInput">
                    <input type="text" name="description" id="description">
                </div>
                
                <div id = "graphicalInput">
                    <select name="category" id="category"></select>
                    <input type="date" name ="deadline" id = "deadline">
                </div>

                <div id = "actionButtons">
                    <input type = "submit" id = "addTask">
                    <button id= "deleteTask"> DELETE </button>
                </div>
                
                

            </form>
        </div>
        <div id = "checklist">
            <!-- <ul>
                // < for(let i of checklist) {>
                    <li></li>
                // < } >
            </ul> -->
            

        </div>
        
    </body>
</html>