<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <!-- create sections for reminders, to do checklists and sticky notes -->
        <header></header>
        <div id = "userInp">
            <form action="POST">
                <div id = "descInput">
                    <input type="text" name="Description" id="description">
                </div>
                
                <div id = "graphicalInput">
                    <select name="Category" id="category"></select>
                    <input type="date" name ="Deadline" id = "deadline">
                </div>

                <div id = "actionButtons">
                    <input type = "submit" id = "addTask">
                    <button id= "deleteTask"> DELETE </button>
                </div>
                
                

            </form>
        </div>
        <div id = "checklist">

        </div>
        
    </body>
</html>